[Unit]
Description=xkeysnail

[Service]
ExecStart=/usr/bin/sudo xkeysnail --quiet /home/ncaq/.xkeysnail/config.py
ExecStop=/usr/bin/sudo kill $MAINPID

[Install]
WantedBy=graphical.target
