[Unit]
Description=xkeysnail

[Service]
# デバイスが初期化される前に起動してエラーになることへのワークアラウンド。
ExecStartPre=sleep 1
Restart=on-failure
ExecStart=/usr/bin/xkeysnail --quiet %h/.xkeysnail/config.py
Environment=DISPLAY=:0
Environment=PATH=/usr/bin

[Install]
WantedBy=default.target
