[Unit]
Description=xkeysnail

[Service]
ExecStart=/usr/bin/xkeysnail --quiet /home/ncaq/.xkeysnail/config.py
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
